body{
   background-color: #F4EBE1;
}

.container{
    position: absolute;
    width: 360px;
    height: 603px;
    left: 218px;
    top: 94px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05), 0px 4px 70px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
  }

h1{
color: #604E3A;
margin-left: 32px;
margin-top: 3px;

font-family: 'Archivo', sans-serif;
font-style: bolder;
font-weight: 600;
font-size: 37px;
}

.intro{
   
margin-top: 24px;

margin-left: 32px;
font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
/* identical to box height */

text-transform: uppercase;

color: #604E3A;
}

.truc{
   
width: 133px;
height: 129px;
border: 2px solid rgba(255, 255, 255, 0.62);
border-radius: 5px;
margin-left: 32px;

}

.Random{
  height: 37px;
  position: absolute;
  padding: 2rem;  
  padding-top: 6rem;


background: #FFFFFF;
}

.muscic{
  padding-left: 12rem;
  padding-top: rem;
}
/*.music2{
  padding-left: 17.5rem;
  padding-top: 8rem;
}

.music3{
  padding-left: 17.5rem;
  padding-top: 1rem;*/